<% require 'date' %>

<!DOCTYPE html>
<html>
  <head>
    <title>Nachiapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header">
        <h1 class="header-top">Ruby on Rails スケジュール管理アプリ</h1>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer">
        <% @counts = Schedule.where("start > ?", Date.today).count %>
        <h1>現在の日時：<%="#{Date.current.strftime("%Y年%m月%d日")}"%>
            スケジュール合計：<%= @counts %></h1>
      </div>
    </footer>
  </body>
</html>
